################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SimpleApp/UnitTests/bin/Debug/net5.0
