################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SimpleApp/UnitTests/bin/Debug/net5.0
/SimpleApp/SimpleApp/obj
/SimpleApp/SimpleApp/bin/Debug/net5.0
/SimpleApp/UnitTests/obj
